.product__item__ui .product__item__info span {
    font-size: 20px;
    font-weight: 700;
}

.product__item__ui .product__image {
    overflow: hidden;
}

.product__item__ui .product__image img {
    transition: .3s;
}

.product__item__ui .product__image:hover img {
    transform: scale(1.3);
}